html {
  background-color: white;
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("/fonts/AvenirNext-Regular.ttf");
}

body {
  font-family: "AvenirNext-Regular", serif;
  margin: 50px 50px 0 50px;
}

a {
  text-decoration: none;
  color: #DD4C4F;
}

h1 {
  padding-bottom: 15px;
}

p, li {
  font-weight: 50;
}

span.titre {
  background-color: #95a5a6;
  border-radius: 20px;
  padding: 0 20px 0 20px;
  color: white;
  margin-bottom: 200px;
}

span.titre-desktop {
  background-color: #95a5a6;
  border-radius: 20px;
  padding: 0 20px 0 20px;
  color: white;
  margin-bottom: 200px;
}

span.titre-mobi {
  display: none;
  background-color: #95a5a6;
  border-radius: 20px;
  padding: 0 20px 0 20px;
  color: white;
  margin-bottom: 200px;
}

img.back {
  display: none;
}

.Btn {
  background-color: #DD4C4F;
  border-radius: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

hr {
  margin: 50px 200px 50px 200px;
}

.menu_choix {
  height: 100px;
  width: 25%;
  background-color: #DD4C4F;
  border-radius: 10px;
  position: relative;
  left: 37.5%;
  text-align: center;
  margin: 50px 0 50px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu_txt {
  color: white;
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

div {
  position: relative;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 0px;
  background-color: #DD4C4F;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 30px;
}

div.sticky:hover {
  border-radius: 10px;
  bottom: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home {
  color: white;
}

#todo:checked ~ label {
  text-decoration: line-through;
  color: #bdc3c7;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
  float: left;
}

input[type="checkbox"]:checked {
  background: #ccc;
  }

input{float: left;}

li.todo-list {list-style-type: none;}
li.todo.list:before {
	content: "";
}

li.todo-list {
  margin-bottom: 10px;
}

@media only screen and (max-device-width:700px) {
  .menu_choix {
    width: 80%;
    left: 10%;
  }
  hr {
    margin: 20px 0px;
  }
  body {
    margin: 20px 20px 0 20px;
  }
  div.sticky {
    display: none;
  }
  img.back {
    display: inline;
    margin-top: 2px;
    height: 30px;
    float: right;
    padding: 5px;
    background-color: #DD4C4F;
    border-radius: 30px;
  }
  span.titre-desktop {
    display: none;
  }
  span.titre-mobi {
    display: inline;
  }
 }

 @media only screen and (max-device-width:310px) {
  img.back {
    display: none;
  }
 }